#footer {
  background-color: var(--color-primary);
  padding: 3rem 0 6rem 0;
}
.footer-social {
  margin-top: 2rem;
}
.footer-social i {
  margin: 0 10px;
}
.footer-social i:hover {
  color: var(--color-bg-varient);
}
