.swiper {
  width: 60%;
  padding-bottom: 3rem;
}
.avtar {
  height: 60px;
  width: 60px;
}
.avtar img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50px;
}
.testimonials {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border: 1px solid var(--color-border);
  border-radius: 10px;
  padding: 20px;
  padding-bottom: 5px;
}
.testimonials h6 {
  font-size: 14px;
}
.testimonials p {
  font-size: 14px;
}
.swiper-pagination-bullet-active {
  background-color: var(--color-primary) !important;
}
.swiper-pagination-bullet {
  background-color: var(--color-white) !important;
}
.swiper-slide {
  padding: 0 1rem;
}
